HELP.md
.gradle
.env
build/
src/main/resources/application.yml
src/test/resources/application-test.yml
secrets/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
